Repository dutymate/dutymate-v1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.13-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: gradle:latest
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    - backend/.sonar/cache/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $ENV_FILE .env
  script:
  - gradle build --build-cache
  ...

[S12P11A108-606] misc: Add a period
  frontend/src/components/organisms/CreateWardForm.tsx
  frontend/src/components/organisms/EnterWardForm.tsx
  frontend/src/components/organisms/ExtraInfoForm.tsx
  frontend/src/components/organisms/ReqShiftModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/WardAdminModal.tsx
  frontend/src/pages/Community.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/pages/Mypage.tsx
  frontend/src/pages/ReqAdmin.tsx
  frontend/src/pages/WardAdmin.tsx
Due: check_frontend

[S12P11A108-613] chore: Add KR to geo restriction whitelist
  infrastructure/Modules/CloudFront/main.tf
Due: check_infrastructure

[S12P11A108-609] refactor: Improve performance of duty schedule edit debounce
  backend/src/main/java/net/dutymate/api/wardschedules/collections/WardSchedule.java
  backend/src/main/java/net/dutymate/api/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P11A108-609] fix: Debounce work schedule update
  backend/src/main/java/net/dutymate/api/wardschedules/controller/WardScheduleController.java
  backend/src/main/java/net/dutymate/api/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P11A108-609] refactor: Apply debouncing method to put request
  frontend/src/components/organisms/RuleEditModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/services/dutyService.ts
  frontend/src/store/shiftStore.ts
Due: check_frontend

[S12P11A108-616] chore: Add origin shield option
  infrastructure/Modules/CloudFront/main.tf
  infrastructure/Modules/CloudFront/variables.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P11A108-609] feat: Add loading spinner during auto-generation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/atoms/AutoSpinner.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P11A108-60] feat: Add community page
  frontend/src/components/atoms/Button.tsx
  frontend/src/components/atoms/Icon.tsx
  frontend/src/components/organisms/CommunityCategories.tsx
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/components/organisms/CommunityWrite.tsx
  frontend/src/pages/Community.tsx
  frontend/tsconfig.app.tsbuildinfo
Due: check_frontend

[S12P11A108-614] feat: Add community entity
  backend/src/main/java/net/dutymate/api/entity/Member.java
  backend/src/main/java/net/dutymate/api/entity/community/Board.java
  backend/src/main/java/net/dutymate/api/entity/community/BoardLikes.java
  backend/src/main/java/net/dutymate/api/entity/community/Comment.java
  backend/src/main/java/net/dutymate/api/entity/community/HotBoard.java
  backend/src/main/java/net/dutymate/api/enumclass/Category.java
Due: build_backend

[S12P11A108-614] refactor: Add createdAt initialization
  backend/src/main/java/net/dutymate/api/entity/community/Board.java
  backend/src/main/java/net/dutymate/api/entity/community/Comment.java
  backend/src/main/java/net/dutymate/api/entity/community/HotBoard.java
Due: build_backend

[S12P11A108-614] fix: Fix checkstyle error
  backend/src/main/java/net/dutymate/api/entity/community/BoardLikes.java
Due: build_backend

[S12P11A108-618] feat: Add comunity crud feature
  backend/src/main/java/net/dutymate/api/comunity/controller/BoardController.java
  backend/src/main/java/net/dutymate/api/comunity/dto/BoardCreateRequestDto.java
  backend/src/main/java/net/dutymate/api/comunity/repository/BoardRepository.java
  backend/src/main/java/net/dutymate/api/comunity/service/BoardService.java
Due: build_backend

[S12P11A108-620] fix: Add redirect url to ward admin
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/WardAdminInfo.tsx
Due: check_frontend

[S12P11A108-620] fix: Add navigation & fix css
  frontend/src/components/atoms/Button.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/WardAdminInfo.tsx
Due: check_frontend

[S12P11A108-618] feat: Add comunity-feature
  backend/src/main/java/net/dutymate/api/autoschedule/controller/AutoScheduleController.java
  backend/src/main/java/net/dutymate/api/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/comunity/controller/BoardController.java
  backend/src/main/java/net/dutymate/api/comunity/dto/BoardCreateRequestDto.java
  backend/src/main/java/net/dutymate/api/comunity/repository/BoardRepository.java
  backend/src/main/java/net/dutymate/api/comunity/service/BoardService.java
Due: build_backend

[S12P11A108-621] fix: Fix bug in auto-generation feature
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P11A108-622] fix: Change logo image path to absolute path
  frontend/public/images/logo.svg
  frontend/src/components/organisms/MSidebar.tsx
  frontend/src/components/organisms/WSidebar.tsx
  frontend/src/components/templates/LandingTemplate.tsx
  frontend/src/components/templates/NextTemplate.tsx
  frontend/src/components/templates/StartTemplate.tsx
Due: check_frontend

[S12P11A108-623] feat: Add key guide for shift admin page
  frontend/src/components/atoms/KeyboardGuide.tsx
  frontend/src/components/atoms/Tooltip.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P11A108-617] fix: Handle error page redirection
  frontend/src/pages/ShiftAdmin.tsx
  frontend/src/services/dutyService.ts
  frontend/src/services/profileService.ts
  frontend/src/services/requestService.ts
  frontend/src/services/ruleService.ts
  frontend/src/services/wardService.ts
  frontend/src/store/profileStore.ts
  frontend/src/store/shiftStore.ts
  frontend/src/store/wardStore.ts
Due: check_frontend

[S12P11A108-617] fix: Handle page component error page redirection
  frontend/src/pages/CreateWard.tsx
  frontend/src/pages/EnterWard.tsx
  frontend/src/pages/ExtraInfo.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/pages/Mypage.tsx
  frontend/src/pages/ShiftAdmin.tsx
Due: check_frontend

[S12P11A108-624] fix: Fix community photo upload fuctionality
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/components/organisms/CommunityWrite.tsx
Due: check_frontend

[S12P11A108-625] fix: Fix bugs in WardAdmin and ReqAdmin page
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/src/components/organisms/WardAdminInfo.tsx
  frontend/src/components/organisms/WardAdminModal.tsx
  frontend/src/components/organisms/WardAdminTable.tsx
  frontend/src/pages/ReqAdmin.tsx
Due: check_frontend

[S12P11A108-623] fix: Fix key guide modal
  frontend/src/components/atoms/KeyboardGuide.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P11A108-626] feat: Implement post and comment features
  backend/src/main/java/net/dutymate/api/comunity/controller/BoardController.java
  backend/src/main/java/net/dutymate/api/comunity/controller/CommentController.java
  backend/src/main/java/net/dutymate/api/comunity/dto/BoardDetailResponseDto.java
  backend/src/main/java/net/dutymate/api/comunity/dto/BoardListResponseDto.java
  backend/src/main/java/net/dutymate/api/comunity/dto/CommentRequestDto.java
  backend/src/main/java/net/dutymate/api/comunity/repository/BoardRepository.java
  backend/src/main/java/net/dutymate/api/comunity/repository/CommentRepository.java
  backend/src/main/java/net/dutymate/api/comunity/service/BoardService.java
  backend/src/main/java/net/dutymate/api/comunity/service/CommentService.java
  backend/src/main/java/net/dutymate/api/entity/community/Board.java
  backend/src/main/java/net/dutymate/api/enumclass/Category.java
Due: build_backend

[S12P11A108-627] fix: Fix reponsive req admin page
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/src/pages/ReqAdmin.tsx
Due: check_frontend

[S12P11A108-628] fix: Fix minor bugs for build stability
  frontend/src/components/atoms/AutoSpinner.tsx
  frontend/src/components/organisms/RuleEditModal.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/store/wardStore.ts
Due: check_frontend

[S12P11A108-629] fix: fix reponsive community page
  frontend/src/components/atoms/Button.tsx
  frontend/src/components/atoms/Title.tsx
  frontend/src/components/organisms/MypageExit.tsx
  frontend/src/components/organisms/MypagePassword.tsx
  frontend/src/components/organisms/MypageProfile.tsx
  frontend/src/pages/Mypage.tsx
Due: check_frontend

[S12P11A108-633] fix: Landing,Login,Extra-info,EnterWard,CreateWard responsive page
  frontend/src/components/organisms/CreateWardForm.tsx
  frontend/src/components/organisms/EnterWardForm.tsx
  frontend/src/components/organisms/ExtraInfoForm.tsx
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/SignupForm.tsx
  frontend/src/components/templates/LandingTemplate.tsx
  frontend/src/components/templates/NextTemplate.tsx
  frontend/src/components/templates/StartTemplate.tsx
  frontend/src/pages/CreateWard.tsx
  frontend/src/pages/EnterWard.tsx
  frontend/src/pages/ExtraInfo.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Signup.tsx
Due: check_frontend

[S12P11A108-631] fix: Initialize shift type to ALL
  backend/src/main/java/net/dutymate/api/entity/WardMember.java
Due: build_backend

[S12P11A108-634] feat: Develop AI news summarization for nurses
  backend/src/main/java/net/dutymate/api/comunity/controller/NewsController.java
  backend/src/main/java/net/dutymate/api/comunity/dto/GptApiResponseDto.java
  backend/src/main/java/net/dutymate/api/comunity/dto/NewsApiResponseDto.java
  backend/src/main/java/net/dutymate/api/comunity/service/NewsService.java
  backend/src/main/resources/application-env.yaml
Due: build_backend

[S12P11A108-636] feat: Add rule base auto create feature
  backend/src/main/java/net/dutymate/api/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/autoschedule/util/NurseScheduler.java
  backend/src/main/java/net/dutymate/api/entity/Rule.java
  backend/src/main/java/net/dutymate/api/rule/controller/RuleController.java
  backend/src/main/java/net/dutymate/api/rule/dto/RuleUpdateRequestDto.java
  backend/src/main/java/net/dutymate/api/rule/service/RuleService.java
Due: build_backend

[S12P11A108-638] chore: Create waf
  infrastructure/Modules/ALB/outputs.tf
  infrastructure/Modules/WAF/main.tf
  infrastructure/Modules/WAF/variables.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P11A108-641] style: Sort variables and outputs by name
  infrastructure/Modules/ACM/outputs.tf
  infrastructure/Modules/ALB/outputs.tf
  infrastructure/Modules/ALB/variables.tf
  infrastructure/Modules/CloudFront/outputs.tf
  infrastructure/Modules/CloudFront/variables.tf
  infrastructure/Modules/DocumentDB/variables.tf
  infrastructure/Modules/ECS/variables.tf
  infrastructure/Modules/IAM/outputs.tf
  infrastructure/Modules/Networking/outputs.tf
  infrastructure/Modules/Networking/variables.tf
  infrastructure/Modules/RDS/variables.tf
  infrastructure/Modules/Route53/variables.tf
  infrastructure/Modules/S3/outputs.tf
  infrastructure/Modules/S3/variables.tf
  infrastructure/Modules/SecurityGroup/outputs.tf
  infrastructure/Modules/SecurityGroup/variables.tf
  infrastructure/main.tf
  infrastructure/variables.tf
Due: check_infrastructure

[S12P11A108-642] fix: Fix ward admin responsive page
  frontend/src/components/organisms/WardAdminInfo.tsx
  frontend/src/components/organisms/WardAdminModal.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/components/organisms/WardAdminTable.tsx
  frontend/src/pages/WardAdmin.tsx
Due: check_frontend

[S12P11A108-632] refactor: Refactor add virtual nurses logic
  backend/src/main/java/net/dutymate/api/ward/controller/WardController.java
  backend/src/main/java/net/dutymate/api/ward/dto/AddNurseCntRequestDto.java
  backend/src/main/java/net/dutymate/api/ward/service/WardService.java
  backend/src/main/java/net/dutymate/api/wardschedules/util/InitialDutyGenerator.java
Due: build_backend

[S12P11A108-632] fix: Add update tempNurse in mongodb
  backend/src/main/java/net/dutymate/api/ward/service/WardService.java
  backend/src/main/java/net/dutymate/api/wardschedules/collections/WardSchedule.java
  backend/src/main/java/net/dutymate/api/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P11A108-643] feat: Add tempnurse modal
  frontend/src/components/organisms/WardAdminInfo.tsx
  frontend/src/components/organisms/WardAdminTemp.tsx
Due: check_frontend

[S12P11A108-644] refactor: Fix temp nurse api
  frontend/src/components/organisms/WardAdminInfo.tsx
  frontend/src/pages/WardAdmin.tsx
  frontend/src/services/wardService.ts
  frontend/src/store/wardStore.ts
Due: check_frontend

[S12P11A108-644] fix: format fix error
  frontend/src/components/organisms/WardAdminInfo.tsx
  frontend/src/pages/WardAdmin.tsx
  frontend/src/services/wardService.ts
  frontend/src/store/wardStore.ts
Due: check_frontend

[S12P11A108-561] feat: Add community post creation and list view
  backend/src/main/java/net/dutymate/api/comunity/controller/BoardController.java
  backend/src/main/java/net/dutymate/api/comunity/dto/BoardImgResponseDto.java
  backend/src/main/java/net/dutymate/api/comunity/repository/BoardRepository.java
  backend/src/main/java/net/dutymate/api/comunity/service/BoardService.java
  backend/src/main/java/net/dutymate/api/enumclass/Category.java
  frontend/src/components/organisms/CommunityCategories.tsx
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/components/organisms/CommunityWrite.tsx
  frontend/src/pages/Community.tsx
  frontend/src/services/_boardService.ts
  frontend/src/services/boardService.ts
Due: check_frontend, build_backend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
