Repository dutymate/dutymate-v1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

.gitlab-ci.yml:

stages:
  - check_infrastructure
  - check_frontend
  - build_backend

check_infrastructure:
  stage: check_infrastructure
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - infrastructure/**/*
  image:
    name: hashicorp/terraform:latest
    entrypoint: [ "" ]
  script:
    - terraform fmt -recursive -check
    - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - frontend/**/*
      when: always
  image: node:22.13-alpine
  cache:
    paths:
      - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
    - cd frontend
    - npm ci
  script:
    - npm run lint
    - npm run format

build_backend:
  stage: build_backend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - backend/**/*
      when: always
  image: gradle:latest
  cache:
    paths:
      - backend/.gradle/
      - backend/build/
      - backend/.sonar/cache/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
    - cd backend
    - cp $ENV_FILE .env
  script:
    - gradle build --build-cache
    - gradle sonar -Dsonar.projectKey=$SONAR_PROJECT_KEY -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.login=$SONAR_TOKEN -Dsonar.qualitygate.wait=true
  after_script:
    - cd backend
    - chmod +x scripts/ci/generate-codequality-report-from-checkstyle.sh
    - scripts/ci/generate-codequality-report-from-checkstyle.sh build/reports/checkstyle/main.xml > checkstyle-report.json
  artifacts:
    when: always
    reports:
      codequality:
        - backend/checkstyle-report.json

[S12P11A108-489] chore: Publish docker image using jib
  .gitlab-ci.yml
  backend/build.gradle
Due: build_backend

[S12P11A108-427] feat: Connect temp nurse api
  frontend/src/components/atoms/Button.tsx
  frontend/src/components/organisms/WardAdminInfo.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/pages/WardAdmin.tsx
  frontend/src/services/wardService.ts
  frontend/src/store/wardStore.ts
Due: check_frontend

[S12P11A108-482] feat: Add login api
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/pages/GoogleRedirect.tsx
  frontend/src/pages/KakaoRedirect.tsx
  frontend/src/services/userService.ts
Due: check_frontend

[S12P11A108-493] chore: Load env from s3 in ecs task
  infrastructure/Modules/ECS/main.tf
  infrastructure/Modules/ECS/variables.tf
  infrastructure/Modules/IAM/main.tf
  infrastructure/Modules/IAM/outputs.tf
  infrastructure/Modules/S3/outputs.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P11A108-495] chore: Add deploy backend stage
  .gitlab-ci.yml
Due: none

[S12P11A108-499] feat: Add signup page
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/SignupForm.tsx
  frontend/src/pages/Signup.tsx
  frontend/src/routes/Router.tsx
Due: check_frontend

[S12P11A108-504] fix: Set GIT_DEPTH to zero
  .gitlab-ci.yml
Due: none

[S12P11A108-513] fix: Remove sonar script
  .gitlab-ci.yml
Due: none

[S12P11A108-497] chore: Add build frontend stage
  .gitlab-ci.yml
Due: none

[S12P11A108-460] feat: Implement logout and profile image in MyPage
  backend/src/main/java/net/dutymate/api/member/dto/ProfileImgResponseDto.java
  backend/src/main/java/net/dutymate/api/member/service/MemberService.java
  frontend/src/components/organisms/MypageExit.tsx
  frontend/src/components/organisms/MypageProfile.tsx
  frontend/src/pages/Mypage.tsx
  frontend/src/services/profileService.ts
  frontend/src/store/profileStore.ts
  frontend/src/store/userAuthStore.ts
Due: check_frontend, build_backend

[S12P11A108-460] feat: Connect exit ward and withdrawal API in MyPage
  frontend/src/components/organisms/MypageExit.tsx
  frontend/src/components/organisms/MypageProfile.tsx
  frontend/src/services/profileService.ts
Due: check_frontend

[S12P11A108-473] feat: Add check password logic
  backend/src/main/java/net/dutymate/api/entity/Member.java
  backend/src/main/java/net/dutymate/api/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/member/dto/CheckPasswordDto.java
  backend/src/main/java/net/dutymate/api/member/service/MemberService.java
Due: build_backend

[S12P11A108-460] feat: Connect profile image in sidebar
  frontend/src/components/atoms/Profile.tsx
Due: check_frontend

[S12P11A108-515] chore: Add deploy frontend stage
  .gitlab-ci.yml
Due: none

[S12P11A108-409] feat: Update shift admin table mechanism
  frontend/src/assets/FaultDotIcon.tsx
  frontend/src/components/atoms/DutyBadgeEng.tsx
  frontend/src/components/atoms/FaultLayer.tsx
  frontend/src/components/atoms/Icon.tsx
  frontend/src/components/organisms/HistoryList.tsx
  frontend/src/components/organisms/RuleCheckList.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/pages/ShiftAdmin.tsx
  frontend/src/pages/_ShiftAdmin.tsx
  frontend/src/store/shiftStore.ts
Due: check_frontend

[S12P11A108-500] feat: Add signup api feature
  frontend/src/components/atoms/Input.tsx
  frontend/src/components/organisms/SignupForm.tsx
  frontend/src/services/userService.ts
Due: check_frontend

[S12P11A108-500] refactor: Check code style
  frontend/src/components/organisms/SignupForm.tsx
  frontend/src/services/userService.ts
Due: check_frontend

[S12P11A108-168] feat: Add auto generation feature
  backend/src/main/java/net/dutymate/api/autoschedule/controller/AutoScheduleController.java
  backend/src/main/java/net/dutymate/api/autoschedule/dto/MonthlyScheduleDTO.java
  backend/src/main/java/net/dutymate/api/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/autoschedule/util/ScheduleGenerator.java
  backend/src/main/java/net/dutymate/api/records/YearMonth.java
Due: build_backend

[S12P11A108-168] refactor: change-algorithm-for-auto-schedule-generator
  backend/src/main/java/net/dutymate/api/autoschedule/controller/AutoScheduleController.java
  backend/src/main/java/net/dutymate/api/autoschedule/dto/MonthlyScheduleDTO.java
  backend/src/main/java/net/dutymate/api/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/autoschedule/util/NurseScheduler.java
  backend/src/main/java/net/dutymate/api/autoschedule/util/ScheduleGenerator.java
Due: build_backend

[S12P11A108-498] fix: Temporarily disable periodic sync
  frontend/src/store/wardStore.ts
Due: check_frontend

[S12P11A108-518] fix: Fix shift admin bug
  frontend/src/components/atoms/Button.tsx
  frontend/src/components/organisms/HistoryList.tsx
  frontend/src/components/organisms/RuleEditModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/WardAdminInfo.tsx
  frontend/src/lib/axios.ts
Due: check_frontend

[S12P11A108-516] refactor: Add toastify under development page
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/TeamShiftTable.tsx
  frontend/src/components/organisms/WSidebar.tsx
  frontend/src/pages/_ShiftAdmin.tsx
Due: check_frontend

[S12P11A108-517] style: Deactivate console log
  frontend/src/components/organisms/EnterWardForm.tsx
  frontend/src/components/organisms/ExtraInfoForm.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/pages/CreateWard.tsx
  frontend/src/pages/EnterWard.tsx
  frontend/src/pages/ExtraInfo.tsx
  frontend/src/pages/_playgrounds.tsx
  frontend/src/services/profileService.ts
Due: check_frontend

[S12P11A108-460] feat: Hide password change for social login
  backend/src/main/java/net/dutymate/api/member/dto/LoginResponseDto.java
  frontend/src/store/userAuthStore.ts
Due: check_frontend, build_backend

[S12P11A108-520] chore: Copy frontend env file
  .gitlab-ci.yml
Due: none

[S12P11A108-460] feat: Add password change functionality
  frontend/src/components/organisms/MypagePassword.tsx
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/src/services/profileService.ts
Due: check_frontend

[S12P11A108-522] fix: Comment out unused code
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/atoms/DutyBadgeEng.tsx
  frontend/src/components/organisms/CreateWardForm.tsx
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/TeamShiftTable.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/components/organisms/WardAdminTable.tsx
  frontend/src/main.tsx
  frontend/src/pages/CreateWard.tsx
  frontend/src/pages/EnterWard.tsx
  frontend/src/pages/GoogleRedirect.tsx
  frontend/src/pages/KakaoRedirect.tsx
  frontend/src/pages/WardAdmin.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/userService.ts
  frontend/src/store/shiftStore.ts
  frontend/tsconfig.app.tsbuildinfo
Due: check_frontend

[S12P11A108-523] fix: Comment out unused components in ReqAdminTable
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/tsconfig.app.tsbuildinfo
Due: check_frontend

[S12P11A108-526] chore: Change ssm security group configurations
  infrastructure/Modules/Networking/main.tf
  infrastructure/Modules/Networking/variables.tf
  infrastructure/Modules/SSM/main.tf
  infrastructure/Modules/SSM/variables.tf
  infrastructure/Modules/SecurityGroup/main.tf
  infrastructure/Modules/SecurityGroup/outputs.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P11A108-528] chore: Add s3 vpc endpoint to access amazonlinux yum
  infrastructure/Modules/Networking/main.tf
Due: check_infrastructure

[S12P11A108-521] chore: Change path to dist
  .gitlab-ci.yml
Due: none

[S12P11A108-530] chore: Set docdb param to disable tls
  infrastructure/Modules/DocumentDB/main.tf
Due: check_infrastructure

[S12P11A108-532] chore: Update db-related security group cidr block
  infrastructure/Modules/SecurityGroup/main.tf
Due: check_infrastructure

[S12P11A108-524] fix: Add history when approve request
  backend/src/main/java/net/dutymate/api/request/service/RequestService.java
  backend/src/main/java/net/dutymate/api/wardschedules/util/ShiftUtil.java
Due: build_backend

[S12P11A108-418] fix: Fix temp nurse name generation error
  backend/src/main/java/net/dutymate/api/ward/service/WardService.java
Due: build_backend

[S12P11A108-535] feat: Change latptop image
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/notebook.svg
  frontend/src/components/atoms/Loadingspinner.tsx
Due: check_frontend

[S12P11A108-535] fix: npm run format fix
  frontend/src/components/atoms/Loadingspinner.tsx
Due: check_frontend

[S12P11A108-537] fix: Fix index error in getmyduty method
  backend/src/main/java/net/dutymate/api/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P11A108-538] fix: Fix prevshifts error
  frontend/src/components/organisms/MyShiftCalendar.tsx
Due: check_frontend

[S12P11A108-538] fix: Correct myshiftcalendar error
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/utils/dutyUtils.ts
Due: check_frontend
