Repository dutymate/dutymate-v1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

.gitlab-ci.yml:

stages:
  - check_infrastructure
  - check_frontend
  - build_backend

check_infrastructure:
  stage: check_infrastructure
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - infrastructure/**/*
  image:
    name: hashicorp/terraform:latest
    entrypoint: [ "" ]
  script:
    - terraform fmt -recursive -check
    - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - frontend/**/*
      when: always
  image: node:22.13-alpine
  cache:
    paths:
      - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
    - cd frontend
    - npm ci
  script:
    - npm run lint
    - npm run format

build_backend:
  stage: build_backend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - backend/**/*
      when: always
  image: gradle:latest
  cache:
    paths:
      - backend/.gradle/
      - backend/build/
      - backend/.sonar/cache/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
    - cd backend
    - cp $ENV_FILE .env
  script:
    - gradle build --build-cache
    - gradle sonar -Dsonar.projectKey=$SONAR_PROJECT_KEY -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.login=$SONAR_TOKEN -Dsonar.qualitygate.wait=true
  after_script:
    - cd backend
    - chmod +x scripts/ci/generate-codequality-report-from-checkstyle.sh
    - scripts/ci/generate-codequality-report-from-checkstyle.sh build/reports/checkstyle/main.xml > checkstyle-report.json
  artifacts:
    when: always
    reports:
      codequality:
        - backend/checkstyle-report.json

[S12P11A108-646] fix: Fix kakao,google button
  frontend/src/assets/google.logo.png
  frontend/src/assets/google.svg
  frontend/src/assets/kakao_logo.png
  frontend/src/assets/kakaotalk.svg
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/SignupForm.tsx
Due: check_frontend

[S12P11A108-647] feat: Add like and unlike feature for community posts
  backend/src/main/java/net/dutymate/api/comunity/controller/BoardController.java
  backend/src/main/java/net/dutymate/api/comunity/dto/BoardDetailResponseDto.java
  backend/src/main/java/net/dutymate/api/comunity/repository/BoardLikesRepository.java
  backend/src/main/java/net/dutymate/api/comunity/service/BoardService.java
  backend/src/main/java/net/dutymate/api/entity/community/Board.java
Due: build_backend

[S12P11A108-635] fix: Fix shift admin page bug on month change
  frontend/src/components/atoms/KeyboardGuide.tsx
  frontend/src/components/atoms/RequestMessage.tsx
  frontend/src/components/atoms/ViolationMessage.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/utils/dateUtils.ts
Due: check_frontend

[S12P11A108-647] feat: Add HOT board features
  backend/src/main/java/net/dutymate/api/comunity/repository/HotBoardRepository.java
  backend/src/main/java/net/dutymate/api/comunity/service/BoardService.java
  backend/src/main/java/net/dutymate/api/entity/community/Board.java
Due: build_backend

[S12P11A108-652] fix: Fix ward admin error
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/components/organisms/WardAdminTable.tsx
  frontend/src/components/organisms/WardAdminTemp.tsx
Due: check_frontend

[S12P11A108-649] feat: Connect rule edit API
  frontend/src/components/organisms/RuleEditModal.tsx
  frontend/src/services/ruleService.ts
Due: check_frontend

[S12P11A108-650] feat: Disable reset button after initialization
  frontend/src/components/atoms/KeyboardGuide.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P11A108-654] fix: Fix req admin responsive page
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/src/pages/ReqAdmin.tsx
Due: check_frontend

[S12P11A108-651] feat: Add hidden Easter egg game
  frontend/src/components/organisms/WormGameModal.tsx
  frontend/src/pages/Game.tsx
  frontend/src/routes/Router.tsx
Due: check_frontend

[S12P11A108-655] fix: Fix myshift responsive page
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/pages/MyShift.tsx
Due: check_frontend

[S12P11A108-653] fix: format fix error
  frontend/src/components/organisms/CommunityDetail.tsx
Due: check_frontend

[S12P11A108-653] feat: Add commnuity detail page api
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/components/organisms/CommunityLayout.tsx
  frontend/src/pages/Community.tsx
  frontend/src/pages/CommunityDetailPage.tsx
  frontend/src/pages/CommunityWritePage.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/boardService.ts
  frontend/src/services/wardService.ts
  frontend/src/utils/dateUtiles.ts
Due: check_frontend

[S12P11A108-653] fix: Delete only my posts
  frontend/src/components/organisms/CommunityDetail.tsx
Due: check_frontend

[S12P11A108-653] feat: Add board delete feature
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/components/organisms/CommunityWrite.tsx
  frontend/src/services/boardService.ts
Due: check_frontend

[S12P11A108-657] fix: Fix incorrect iam configurations
  infrastructure/Modules/IAM/main.tf
  infrastructure/Modules/IAM/outputs.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P11A108-658] feat: Add comment api post and delete
  backend/src/main/java/net/dutymate/api/comunity/controller/CommentController.java
  backend/src/main/java/net/dutymate/api/comunity/service/CommentService.java
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/services/boardService.ts
  frontend/src/utils/dateUtiles.ts
Due: check_frontend, build_backend

[S12P11A108-658] feat: Add enter onKeyDown press feature
  frontend/src/components/organisms/CommunityDetail.tsx
Due: check_frontend

[S12P11A108-658] feat: Add comment profile image
  frontend/src/components/organisms/CommunityDetail.tsx
Due: check_frontend

[S12P11A108-658] refactor: fix layout css
  frontend/src/components/organisms/CommunityLayout.tsx
Due: check_frontend

[S12P11A108-661] feat: Add tutorial Notion link
  frontend/src/components/organisms/MSidebar.tsx
  frontend/src/components/organisms/WSidebar.tsx
  frontend/src/pages/Tutorial.tsx
Due: check_frontend

[S12P11A108-662] fix: Fix laptop,google,kakao to absolute paths
  frontend/public/images/google.logo.png
  frontend/public/images/kakao_logo.png
  frontend/public/images/notebook.svg
  frontend/src/assets/laptop.png
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/SignupForm.tsx
  frontend/src/components/templates/LandingTemplate.tsx
  frontend/src/components/templates/StartTemplate.tsx
Due: check_frontend

[S12P11A108-663] refactor: Change response type auto create
  backend/src/main/java/net/dutymate/api/autoschedule/controller/AutoScheduleController.java
  backend/src/main/java/net/dutymate/api/autoschedule/service/AutoScheduleService.java
Due: build_backend

[S12P11A108-640] fix: Refactor delete wardmember code
  backend/src/main/java/net/dutymate/api/member/service/MemberService.java
Due: build_backend

[S12P11A108-640] fix: refactor delete ward member code
  backend/src/main/java/net/dutymate/api/member/service/MemberService.java
Due: build_backend

[S12P11A108-640] fix: Refactor delete wardmember when member alone in ward
  backend/src/main/java/net/dutymate/api/member/service/MemberService.java
Due: build_backend

[S12P11A108-640] fix: refactor delete ward member code
  backend/src/main/java/net/dutymate/api/entity/Ward.java
  backend/src/main/java/net/dutymate/api/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/wardmember/repository/WardMemberRepository.java
Due: build_backend

[S12P11A108-640] fix: Refactor delete wardmember when member alone in ward
  backend/src/main/java/net/dutymate/api/entity/Ward.java
  backend/src/main/java/net/dutymate/api/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/member/service/MemberService.java
Due: build_backend

[S12P11A108-640] fix: Refactor delete wardmember code
  backend/src/main/java/net/dutymate/api/entity/WardMember.java
  backend/src/main/java/net/dutymate/api/member/service/MemberService.java
Due: build_backend

[S12P11A108-640] fix: Fix conflit code when rebase develop
  backend/src/main/java/net/dutymate/api/entity/Ward.java
  backend/src/main/java/net/dutymate/api/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/member/service/MemberService.java
Due: build_backend

[S12P11A108-664] feat: Add community news bar
  frontend/src/components/organisms/CommunityLayout.tsx
Due: check_frontend

[S12P11A108-663] refactor: Change response type with nurse count
  backend/src/main/java/net/dutymate/api/autoschedule/dto/AutoScheduleNurseCountResponseDto.java
  backend/src/main/java/net/dutymate/api/autoschedule/service/AutoScheduleService.java
Due: build_backend

[S12P11A108-667] chore: Disable p6spy when env is prod
  backend/src/main/resources/application-env.yaml
  backend/src/main/resources/application.yaml
Due: build_backend
