Repository dutymate/dutymate-v1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.13-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: gradle:latest
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    - backend/.sonar/cache/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $ENV_FILE .env
  script:
  - gradle build --build-cache
  ...

[S12P11A108-539] feat: Add loading spinner to all page transitions
  frontend/src/App.tsx
  frontend/src/components/atoms/Loadingspinner.tsx
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/src/components/organisms/TeamShiftTable.tsx
  frontend/src/pages/GoogleRedirect.tsx
  frontend/src/pages/KakaoRedirect.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/pages/ShiftAdmin.tsx
  frontend/src/pages/WardAdmin.tsx
  frontend/src/store/loadingStore.ts
Due: check_frontend

[S12P11A108-541] chore: Optimize security group configurations
  infrastructure/Modules/SecurityGroup/main.tf
Due: check_infrastructure

[S12P11A108-542] chore: Update deployment version to 1.0.0
  backend/build.gradle
Due: build_backend

[S12P11A108-505] feat: Correct version
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend

[S12P11A108-536] fix: Disable update rule
  frontend/src/components/organisms/RuleEditModal.tsx
Due: check_frontend

[S12P11A108-536] refactor: Change label name
  frontend/src/components/organisms/HistoryList.tsx
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/MypageProfile.tsx
  frontend/src/components/organisms/SignupForm.tsx
Due: check_frontend

[S12P11A108-536] refactor: Prevent temporary nurse role change
  frontend/src/components/organisms/WardAdminRowCard.tsx
Due: check_frontend

[S12P11A108-536] feat: change css
  frontend/src/components/organisms/RuleCheckList.tsx
Due: check_frontend

[S12P11A108-536] refactor: Delete duty issue date
  frontend/src/components/organisms/RuleCheckList.tsx
Due: check_frontend

[S12P11A108-536] fix: Prevent change HN role
  frontend/src/components/atoms/Dropdown.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
Due: check_frontend

[S12P11A108-536] fix: Change useranme
  frontend/src/components/organisms/MypageExit.tsx
Due: check_frontend

[S12P11A108-536] refactor: Fix code style
  frontend/src/components/organisms/WardAdminRowCard.tsx
Due: check_frontend

[S12P11A108-536] refactor: Prevent memo length
  frontend/src/components/organisms/WardAdminRowCard.tsx
Due: check_frontend

[S12P11A108-536] refactor: Disable rule update
  frontend/src/components/organisms/RuleEditModal.tsx
Due: check_frontend

[S12P11A108-536] fix: code format
  frontend/src/components/organisms/RuleCheckList.tsx
Due: check_frontend

[S12P11A108-536] refactor: Add window reload
  frontend/src/pages/WardAdmin.tsx
Due: check_frontend

[S12P11A108-545] fix: Change password.txt path
  .gitlab-ci.yml
Due: none

[S12P11A108-546] fix: Fix enter ward error message
  frontend/src/pages/EnterWard.tsx
  frontend/src/services/wardService.ts
Due: check_frontend

[S12P11A108-548] fix: Correct jib command
  .gitlab-ci.yml
Due: none

[S12P11A108-550] fix: Correct entrypoint configuration
  .gitlab-ci.yml
Due: none

[S12P11A108-551] fix: Fix error
  frontend/src/components/organisms/RuleEditModal.tsx
  frontend/src/components/organisms/WardAdminInfo.tsx
  frontend/src/pages/GoogleRedirect.tsx
  frontend/src/pages/WardAdmin.tsx
  frontend/tsconfig.app.tsbuildinfo
  frontend/vite.config.d.ts
Due: check_frontend

[S12P11A108-553] fix: Remove unnecessary command
  .gitlab-ci.yml
Due: none

[S12P11A108-555] fix: Correct frontend dist path
  .gitlab-ci.yml
Due: none

[S12P11A108-557] feat: Add wardadmin two modals
  frontend/src/components/organisms/WardAdminInfo.tsx
Due: check_frontend

chore: update package-lock.json
  package-lock.json
Due: none

[S12P11A108-557] feat: Correct starttemplate and wardadmin modal design
  frontend/src/components/atoms/Button.tsx
  frontend/src/components/organisms/WardAdminInfo.tsx
  frontend/src/components/templates/StartTemplate.tsx
Due: check_frontend

[S12P11A108-564] fix: Remove package-lock.json
  package-lock.json
Due: none

[S12P11A108-566] fix: Fix mypage grade error
  frontend/src/components/organisms/ExtraInfoForm.tsx
  frontend/src/components/organisms/MypageProfile.tsx
Due: check_frontend

Revert "Merge branch 'feat/ward-admin-dynamic-row' of https://lab.ssafy.com/s12-webmobile2-sub1/S12P11A108 into feat/ward-admin-dynamic-row"
  package-lock.json
Due: none

[S12P11A108-568] feat: Add nurse row dynamically without refresh
  frontend/src/pages/WardAdmin.tsx
Due: check_frontend

[S12P11A108-568] feat: Add nurse row dynamically without refresh
  package-lock.json
Due: none

[S12P11A108-565] fix: Fix router error
  frontend/src/pages/GoogleRedirect.tsx
  frontend/src/pages/KakaoRedirect.tsx
  frontend/src/pages/Login.tsx
  frontend/src/routes/Router.tsx
Due: check_frontend

[S12P11A108-569] feat: Add reqeust evaluation to auto generating algorithm
  backend/src/main/java/net/dutymate/api/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/autoschedule/util/NurseScheduler.java
Due: build_backend

[S12P11A108-573] fix: Correct cloudfront-related configurations
  infrastructure/Modules/ACM/main.tf
  infrastructure/Modules/ACM/outputs.tf
  infrastructure/Modules/ACM/variables.tf
  infrastructure/Modules/ALB/main.tf
  infrastructure/Modules/ALB/variables.tf
  infrastructure/Modules/CloudFront/main.tf
  infrastructure/Modules/CloudFront/outputs.tf
  infrastructure/Modules/CloudFront/variables.tf
  infrastructure/Modules/Route53/main.tf
  infrastructure/Modules/Route53/variables.tf
  infrastructure/Modules/S3/main.tf
  infrastructure/Modules/S3/variables.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P11A108-574] fix: Add domain configuration to cloudfront
  infrastructure/Modules/CloudFront/main.tf
  infrastructure/Modules/CloudFront/variables.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P11A108-570] feat: Add max shifts limit prev month
  backend/src/main/java/net/dutymate/api/autoschedule/util/NurseScheduler.java
Due: build_backend

[S12P11A108-418] feat: Add nurse integration feature
  backend/src/main/java/net/dutymate/api/entity/Member.java
  backend/src/main/java/net/dutymate/api/entity/WardMember.java
  backend/src/main/java/net/dutymate/api/ward/controller/WardController.java
  backend/src/main/java/net/dutymate/api/ward/dto/TempLinkRequestDto.java
  backend/src/main/java/net/dutymate/api/ward/dto/TempNurseResponseDto.java
  backend/src/main/java/net/dutymate/api/ward/service/WardService.java
Due: build_backend

[S12P11A108-402] feat: Add entry request and approval logic
  backend/src/main/java/net/dutymate/api/entity/EnterWaiting.java
  backend/src/main/java/net/dutymate/api/enumclass/EnterStatus.java
  backend/src/main/java/net/dutymate/api/ward/controller/WardController.java
  backend/src/main/java/net/dutymate/api/ward/dto/EnterManagementRequestDto.java
  backend/src/main/java/net/dutymate/api/ward/dto/EnterWaitingResponseDto.java
  backend/src/main/java/net/dutymate/api/ward/dto/WardInfoResponseDto.java
  backend/src/main/java/net/dutymate/api/ward/repository/EnterWaitingRepository.java
  backend/src/main/java/net/dutymate/api/ward/service/WardService.java
Due: build_backend

[S12P11A108-575] feat: Add month navigation logic in shift admin
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/pages/ShiftAdmin.tsx
  frontend/src/services/dutyService.ts
Due: check_frontend

[S12P11A108-576] fix: Fix duplicate history records in shift admin
  frontend/src/store/shiftStore.ts
Due: check_frontend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
