Repository dutymate/dutymate-v1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.13-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: gradle:latest
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    - backend/.sonar/cache/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $ENV_FILE .env
  script:
  - gradle build --build-cache
  ...

[S12P11A108-689] feat: Add login button in signup page
  frontend/src/components/atoms/Input.tsx
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/SignupForm.tsx
Due: check_frontend

[S12P11A108-689] feat: Update css size
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/SignupForm.tsx
Due: check_frontend

[S12P11A108-692] feat: Enable pasting in ward entry code input
  frontend/src/components/atoms/WardCodeInput.tsx
Due: check_frontend

[S12P11A108-695] fix: Make ward management name input responsive
  frontend/src/components/organisms/WardAdminRowCard.tsx
Due: check_frontend

[S12P11A108-683] fix: News batch program run when start server
  backend/src/main/java/net/dutymate/api/comunity/service/NewsService.java
Due: build_backend

[S12P11A108-696] fix: Fix team shift calendar name column
  frontend/src/components/organisms/TeamShiftTable.tsx
Due: check_frontend

[S12P11A108-697] feat: Add redis warmer config
  backend/src/main/java/net/dutymate/api/config/RedisWarmer.java
Due: build_backend

[S12P11A108-693] feat: Add logo click event
  frontend/src/components/templates/NextTemplate.tsx
  frontend/src/components/templates/StartTemplate.tsx
  frontend/src/pages/Landing.tsx
Due: check_frontend

[S12P11A108-693] feat: Remove token on landing page
  frontend/src/pages/Landing.tsx
Due: check_frontend

[S12P11A108-698] fix: Fix shift admin prevent path
  frontend/src/components/organisms/MSidebar.tsx
  frontend/src/pages/ShiftAdmin.tsx
Due: check_frontend

[S12P11A108-698] fix: Fix reponsive shift admin page
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/pages/ShiftAdmin.tsx
Due: check_frontend

[S12P11A108-699] fix: Fix mypage save button when nickname duplication
  frontend/src/components/organisms/MypageProfile.tsx
Due: check_frontend

[S12P11A108-701] fix: Update waiting page css
  frontend/src/components/organisms/EnterWardForm.tsx
  frontend/src/pages/EnterWard.tsx
Due: check_frontend

[S12P11A108-701] fix: Update format error code
  frontend/src/pages/EnterWard.tsx
Due: check_frontend

[S12P11A108-700] feat: Improve community UI
  frontend/src/components/organisms/CommunityNews.tsx
  frontend/src/components/organisms/CommunityWrite.tsx
  frontend/src/pages/CommunityWritePage.tsx
Due: check_frontend

[S12P11A108-703] fix: Fix get news function call error
  frontend/src/components/organisms/CommunityNews.tsx
Due: check_frontend

[S12P11A108-704] fix/return-shift-ward
  frontend/src/components/organisms/MSidebar.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/pages/ShiftAdmin.tsx
Due: check_frontend

[S12P11A108-706] chore: Bump version to v1.1.1
  backend/build.gradle
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend, build_backend

[S12P11A108-707] fix: Fix add nurse error without connect
  backend/src/main/java/net/dutymate/api/ward/service/WardService.java
Due: build_backend

[S12P11A108-708] fix: Handle null memo values in ward admin page
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/components/organisms/WardAdminTable.tsx
Due: check_frontend

[S12P11A108-710] fix: Fix Msidebar duplication error
  frontend/src/components/organisms/MSidebar.tsx
Due: check_frontend

[S12P11A108-709] fix: Fix kakao profile image mix content error
  backend/src/main/java/net/dutymate/api/member/service/MemberService.java
Due: build_backend

[S12P11A108-715] chore: Change custom error response code to 200
  infrastructure/Modules/CloudFront/main.tf
Due: check_infrastructure

[S12P11A108-712] fix: Remove sout code
  backend/src/main/java/net/dutymate/api/entity/Member.java
  backend/src/main/java/net/dutymate/api/member/service/MemberService.java
Due: build_backend

[S12P11A108-714] fix: Fix historylist responsive page
  frontend/src/components/organisms/HistoryList.tsx
Due: check_frontend

[S12P11A108-714] fix: Fix reponsive history,rulecheck pages
  frontend/src/components/organisms/HistoryList.tsx
  frontend/src/components/organisms/RuleCheckList.tsx
Due: check_frontend

[S12P11A108-711] fix: Update format fix error
  frontend/src/components/organisms/CommunityForm.tsx
Due: check_frontend

[S12P11A108-711] fix: Fix commnuity css style when responsive
  frontend/src/components/organisms/CommunityForm.tsx
Due: check_frontend

[S12P11A108-711] fix: Fix community responsive css
  frontend/src/components/organisms/CommunityCategories.tsx
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/components/organisms/CommunityLayout.tsx
Due: check_frontend

[S12P11A108-716] fix: Add validation for post creation
  frontend/src/components/atoms/Button.tsx
  frontend/src/components/organisms/CommunityWrite.tsx
Due: check_frontend

[S12P11A108-718] fix: Optimize API calls and improve GPT prompts
  backend/src/main/java/net/dutymate/api/comunity/service/NewsService.java
  backend/src/main/resources/application-env.yaml
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/components/organisms/CommunityNews.tsx
  frontend/src/store/newsStore.ts
Due: check_frontend, build_backend

[S12P11A108-719] fix: Resolve duplicate page templates
  frontend/public/images/phone.png
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/SignupForm.tsx
  frontend/src/components/templates/LandingTemplate.tsx
  frontend/src/components/templates/_NextTemplate.tsx
  frontend/src/components/templates/_StartTemplate.tsx
  frontend/src/pages/CreateWard.tsx
  frontend/src/pages/EnterWard.tsx
  frontend/src/pages/ExtraInfo.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Signup.tsx
  frontend/src/styles/animations.css
Due: check_frontend

[S12P11A108-720] fix: Fix shiftadmintable responsive
  frontend/src/components/atoms/Icon.tsx
  frontend/src/components/organisms/RuleEditModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P11A108-722] chore: Add logging aspect to controller
  backend/build.gradle
  backend/src/main/java/net/dutymate/api/config/AspectConfig.java
  backend/src/main/java/net/dutymate/api/config/GlobalExceptionHandler.java
  backend/src/main/java/net/dutymate/api/config/LoggingAspect.java
Due: build_backend

[S12P11A108-725] chore: Change geo restriction type to none
  infrastructure/Modules/CloudFront/main.tf
Due: check_infrastructure

[S12P11A108-723] fix: connect logo and landing page
  frontend/src/components/templates/LandingTemplate.tsx
Due: check_frontend

[S12P11A108-723] fix: Connect sidebar and logo
  frontend/src/components/organisms/MSidebar.tsx
  frontend/src/components/organisms/WSidebar.tsx
Due: check_frontend

[S12P11A108-728] chore: Create record for google site verification
  infrastructure/Modules/Route53/main.tf
  infrastructure/Modules/Route53/variables.tf
  infrastructure/main.tf
  infrastructure/variables.tf
Due: check_infrastructure

[S12P11A108-717] refactor: Update community responsive css
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/components/organisms/CommunityWrite.tsx
  frontend/src/pages/CommunityDetailPage.tsx
Due: check_frontend

[S12P11A108-729] feat: Temporarily add comment edit feature
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/services/_commentService.ts
  frontend/src/store/commentStore.ts
Due: check_frontend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
