Repository dutymate/dutymate-v1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.13-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: gradle:latest
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    - backend/.sonar/cache/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $ENV_FILE .env
  script:
  - gradle build --build-cache
  ...

[S12P11A108-567] feat: Correct wardadmin modals
  frontend/src/components/organisms/WardAdminInfo.tsx
  frontend/src/components/organisms/WardAdminModal.tsx
Due: check_frontend

[S12P11A108-170] feat: Add sorting to daily worker list
  backend/src/main/java/net/dutymate/api/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P11A108-577] fix: Adjust duty schedule message and toast position
  frontend/src/components/atoms/FaultLayer.tsx
  frontend/src/components/atoms/ViolationMessage.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/WardAdminInfo.tsx
  frontend/src/components/organisms/WardAdminTable.tsx
  frontend/src/pages/WardAdmin.tsx
Due: check_frontend

[S12P11A108-579] fix: Correct ecs-related configurations
  infrastructure/Modules/CloudWatch/main.tf
  infrastructure/Modules/CloudWatch/outputs.tf
  infrastructure/Modules/ECS/main.tf
  infrastructure/Modules/ECS/variables.tf
  infrastructure/Modules/IAM/main.tf
  infrastructure/Modules/IAM/outputs.tf
  infrastructure/Modules/SecurityGroup/main.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P11A108-581] fix: Correct jdk version to 21
  backend/build.gradle
Due: build_backend

[S12P11A108-582] fix: Fix fault message display bug
  frontend/.gitignore
  frontend/src/components/atoms/FaultLayer.tsx
  frontend/src/components/atoms/ViolationMessage.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/WardAdminInfo.tsx
Due: check_frontend

[S12P11A108-583] fix: Change parameter pattern check
  backend/src/main/java/net/dutymate/api/wardschedules/util/DutyAutoCheck.java
Due: build_backend

[S12P11A108-402] feat: Add temporary nurse info update feature
  backend/src/main/java/net/dutymate/api/entity/Member.java
  backend/src/main/java/net/dutymate/api/ward/controller/WardController.java
  backend/src/main/java/net/dutymate/api/ward/dto/VirtualEditRequestDto.java
  backend/src/main/java/net/dutymate/api/ward/dto/VirtualNameRequestDto.java
  backend/src/main/java/net/dutymate/api/ward/service/WardService.java
Due: build_backend

[S12P11A108-571] fix: Fix ward schedule history
  backend/src/main/java/net/dutymate/api/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/autoschedule/util/NurseScheduler.java
  backend/src/main/java/net/dutymate/api/request/service/RequestService.java
  backend/src/main/java/net/dutymate/api/wardschedules/util/ShiftUtil.java
Due: build_backend

[S12P11A108-571] fix: Fix format error
  frontend/src/components/organisms/HistoryList.tsx
Due: check_frontend

[S12P11A108-571] feat: Add background color in history"
  frontend/src/components/organisms/HistoryList.tsx
Due: check_frontend

[S12P11A108-562] feat: Correct temp nurse gender and seniority
  frontend/src/components/atoms/Icon.tsx
  frontend/src/components/organisms/WardAdminModal.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/components/templates/StartTemplate.tsx
  frontend/src/services/wardService.ts
  frontend/src/store/wardStore.ts
  frontend/tsconfig.app.tsbuildinfo
Due: check_frontend

[S12P11A108-562] fix: Fix dropdown error ver2
  frontend/src/components/organisms/WardAdminRowCard.tsx
Due: check_frontend

[S12P11A108-585] refactor: Add sync wardschedule and request
  backend/src/main/java/net/dutymate/api/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/request/util/UpdateRequestStatuses.java
  backend/src/main/java/net/dutymate/api/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P11A108-584] refactor: Add ward member sorted feature
  backend/src/main/java/net/dutymate/api/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P11A108-587] fix: Prevent remove myself in ward admin page
  frontend/src/components/organisms/WardAdminRowCard.tsx
Due: check_frontend

[S12P11A108-587] fix: Check format fix
  frontend/src/components/organisms/WardAdminRowCard.tsx
Due: check_frontend

[S12P11A108-589] feat: Provide hospital list on ward creation
  frontend/src/components/organisms/CreateWardForm.tsx
  frontend/src/pages/CreateWard.tsx
  frontend/src/services/wardService.ts
Due: check_frontend

[S12P11A108-590] fix: Resolve duplicate violation circles in FaultLayer
  frontend/src/components/atoms/FaultLayer.tsx
  frontend/src/components/atoms/ViolationMessage.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P11A108-588] feat: Return duty requests in duty table query
  backend/src/main/java/net/dutymate/api/wardschedules/dto/WardScheduleResponseDto.java
  backend/src/main/java/net/dutymate/api/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P11A108-592] fix: Correct access denied error
  infrastructure/Modules/CloudFront/main.tf
Due: check_infrastructure

[S12P11A108-595] chore: Remove unused methods
  infrastructure/Modules/CloudFront/main.tf
Due: check_infrastructure

[S12P11A108-593] feat: Update nurse sorting logic using WardStore
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/TeamShiftTable.tsx
  frontend/src/components/organisms/WardAdminTable.tsx
  frontend/src/pages/WardAdmin.tsx
  frontend/src/store/shiftStore.ts
  frontend/src/store/wardStore.ts
Due: check_frontend

[S12P11A108-596] feat: Prevent routing and show waiting screen in ward queue
  backend/src/main/java/net/dutymate/api/member/dto/LoginResponseDto.java
  backend/src/main/java/net/dutymate/api/member/service/MemberService.java
  frontend/src/components/organisms/EnterWardForm.tsx
  frontend/src/pages/EnterWard.tsx
  frontend/src/store/userAuthStore.ts
Due: check_frontend, build_backend

[S12P11A108-597] feat: Add shift admin download
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P11A108-599] chore: Add redis ssl-enabled configuration
  backend/src/main/resources/application-env.yaml
Due: build_backend

[S12P11A108-593] fix: Update completion calculation logic
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/store/shiftStore.ts
Due: check_frontend

[S12P11A108-600] feat: Add teamshift download
  frontend/src/components/organisms/TeamShiftTable.tsx
Due: check_frontend

[S12P11A108-603] fix: Fix landing mobile error
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/templates/LandingTemplate.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/styles/animations.css
  frontend/tsconfig.app.tsbuildinfo
Due: check_frontend

[S12P11A108-601] feat: Initialize duty
  frontend/src/components/atoms/Icon.tsx
  frontend/src/components/organisms/RuleCheckList.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P11A108-601] fix: Fix format error
  frontend/src/services/dutyService.ts
Due: check_frontend

[S12P11A108-601] feat: Add initalized duty
  backend/src/main/java/net/dutymate/api/wardschedules/controller/WardScheduleController.java
  backend/src/main/java/net/dutymate/api/wardschedules/service/WardScheduleService.java
  frontend/src/components/atoms/Icon.tsx
  frontend/src/components/organisms/HistoryList.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/services/dutyService.ts
Due: check_frontend, build_backend

[S12P11A108-602] refactor: Update nurse info
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/services/wardService.ts
Due: check_frontend

[S12P11A108-602] misc: Add a period
  frontend/src/components/atoms/WardCodeInput.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/pages/CreateWard.tsx
  frontend/src/pages/Error.tsx
  frontend/src/pages/ExtraInfo.tsx
  frontend/src/services/dutyService.ts
Due: check_frontend

[S12P11A108-604] feat: Add request layer on shift admin table
  frontend/src/components/atoms/RequestMessage.tsx
  frontend/src/components/atoms/RequestStatusLayer.tsx
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/pages/EnterWard.tsx
  frontend/src/pages/GoogleRedirect.tsx
  frontend/src/pages/KakaoRedirect.tsx
  frontend/src/services/userService.ts
Due: check_frontend

[S12P11A108-605] feat: Add communityform and communitywrite
  frontend/src/components/atoms/Icon.tsx
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/components/organisms/CommunityWrite.tsx
  frontend/src/components/organisms/WSidebar.tsx
  frontend/src/pages/Community.tsx
Due: check_frontend

[S12P11A108-607] chore: Set ssl-enable option to RedisConfig
  backend/src/main/java/net/dutymate/api/config/RedisConfig.java
Due: build_backend

[S12P11A108-610] fix: Correct s3 bucket public access policy
  infrastructure/Modules/S3/main.tf
Due: check_infrastructure

[S12P11A108-611] refactor: Change response auto generator
  backend/src/main/java/net/dutymate/api/autoschedule/controller/AutoScheduleController.java
  backend/src/main/java/net/dutymate/api/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/autoschedule/util/NurseScheduler.java
Due: build_backend

[S12P11A108-606] feat: Add virtual nurse synced api
  frontend/src/components/organisms/WardAdminInfo.tsx
  frontend/src/components/organisms/WardAdminModal.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/services/wardService.ts
  frontend/src/store/wardStore.ts
Due: check_frontend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
