Repository dutymate/dutymate-v1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

.gitlab-ci.yml:

stages:
  - check_infrastructure
  - check_frontend
  - build_backend

check_infrastructure:
  stage: check_infrastructure
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - infrastructure/**/*
  image:
    name: hashicorp/terraform:latest
    entrypoint: [ "" ]
  script:
    - terraform fmt -recursive -check
    - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - frontend/**/*
      when: always
  image: node:22.13-alpine
  cache:
    paths:
      - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
    - cd frontend
    - npm ci
  script:
    - npm run lint
    - npm run format

build_backend:
  stage: build_backend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - backend/**/*
      when: always
  image: gradle:latest
  cache:
    paths:
      - backend/.gradle/
      - backend/build/
      - backend/.sonar/cache/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
    - cd backend
    - cp $ENV_FILE .env
  script:
    - gradle build --build-cache
    - gradle sonar -Dsonar.projectKey=$SONAR_PROJECT_KEY -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.login=$SONAR_TOKEN -Dsonar.qualitygate.wait=true
  after_script:
    - cd backend
    - chmod +x scripts/ci/generate-codequality-report-from-checkstyle.sh
    - scripts/ci/generate-codequality-report-from-checkstyle.sh build/reports/checkstyle/main.xml > checkstyle-report.json
  artifacts:
    when: always
    reports:
      codequality:
        - backend/checkstyle-report.json

[S12P11A108-726] fix: Make my duty calendar responsive
  frontend/src/components/organisms/MyShiftCalendar.tsx
Due: check_frontend

[S12P11A108-731] fix: Fix hover function of profile
  frontend/src/components/atoms/Profile.tsx
Due: check_frontend

[S12P11A108-730] fix: Fix schedule download issue on mobile
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P11A108-733] chore: Add google analytics tag
  frontend/index.html
Due: check_frontend

[S12P11A108-736] misc: Remove unnecessary README.md files
  backend/README.md
  frontend/README.md
Due: check_frontend, build_backend

[S12P11A108-734] fix: Update checkstyle code error
  backend/src/main/java/net/dutymate/api/comunity/service/CommentService.java
Due: build_backend

[S12P11A108-734] feat: Add update comment backend logic
  backend/src/main/java/net/dutymate/api/comunity/controller/CommentController.java
  backend/src/main/java/net/dutymate/api/comunity/service/CommentService.java
  backend/src/main/java/net/dutymate/api/entity/community/Comment.java
Due: build_backend

[S12P11A108-734] feat: Update comment front code
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/services/boardService.ts
Due: check_frontend

[S12P11A108-734] fix: Update format fix error
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/services/boardService.ts
Due: check_frontend

[S12P11A108-738] fix: Fix community css
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/components/organisms/CommunityNews.tsx
Due: check_frontend

[S12P11A108-740] chore: Replace gtm tag with ga tag
  frontend/index.html
Due: check_frontend

[S12P11A108-737] fix: Remove cross lines in schedule download
  backend/src/main/java/net/dutymate/api/comunity/service/NewsService.java
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend, build_backend

[S12P11A108-741] feat: Add algorithm for night shift nurse
  backend/src/main/java/net/dutymate/api/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/autoschedule/util/NurseScheduler.java
  backend/src/main/java/net/dutymate/api/entity/Rule.java
  backend/src/main/java/net/dutymate/api/entity/WardMember.java
  backend/src/main/java/net/dutymate/api/ward/service/WardService.java
  backend/src/main/java/net/dutymate/api/wardschedules/util/DutyAutoCheck.java
Due: build_backend

[S12P11A108-742] fix: Add shift-admin-bg-color
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P11A108-743] fix: Update ward admin duty button
  frontend/src/components/atoms/DutyBadgeEng.tsx
  frontend/src/components/atoms/DutyTooltip.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/components/organisms/WardAdminTable.tsx
Due: check_frontend

[S12P11A108-703] fix: Update community news CSS and increase count
  backend/src/main/java/net/dutymate/api/comunity/service/NewsService.java
  frontend/src/components/organisms/CommunityNews.tsx
Due: check_frontend, build_backend

[S12P11A108-745] chore: Remove unnecessary files
  frontend/frontend.code-workspace
  frontend/tsconfig.app.tsbuildinfo
Due: check_frontend

[S12P11A108-746] feat: Add download to excel
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P11A108-747] fix: Update community comment button
  frontend/src/components/organisms/CommunityDetail.tsx
Due: check_frontend

[S12P11A108-748] feat: Add download modal
  frontend/src/components/atoms/Icon.tsx
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P11A108-748] fix: Add scroll
  frontend/src/pages/CommunityDetailPage.tsx
Due: check_frontend

[S12P11A108-737] fix: Hide requested shifts in schedule image download
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P11A108-751] fix: Resolve build error in npm run build
  frontend/src/components/atoms/Icon.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P11A108-750] chore: Bump version to v1.2.0
  backend/build.gradle
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend, build_backend

[S12P11A108-754] chore: Set rds time_zone to Asia/Seoul
  infrastructure/Modules/RDS/main.tf
Due: check_infrastructure

[S12P11A108-755] fix: Fix ruleeditmodal
  frontend/src/components/organisms/RuleEditModal.tsx
Due: check_frontend

[S12P11A108-756] chore: Set Jackson timezone to Asia/Seoul
  backend/src/main/java/net/dutymate/api/config/JacksonConfig.java
  backend/src/main/resources/application.yaml
Due: build_backend

[S12P11A108-737] fix: Fix news batch error
  backend/src/main/java/net/dutymate/api/comunity/service/NewsService.java
Due: build_backend

[S12P11A108-757] feat: Adjust shift admin minimum width
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/pages/ShiftAdmin.tsx
Due: check_frontend

[S12P11A108-752] fix: Update all comment
  frontend/src/components/organisms/CommunityDetail.tsx
Due: check_frontend

[S12P11A108-752] fix: Update format code error
  frontend/src/components/organisms/CommunityDetail.tsx
Due: check_frontend

[S12P11A108-759] chore: Migrate to elasticache cluster
  infrastructure/Modules/ElastiCache/main.tf
Due: check_infrastructure

[S12P11A108-760] fix: Fix reqeedit name
  frontend/src/components/organisms/RuleEditModal.tsx
Due: check_frontend

[S12P11A108-762] refactor: Sort nurse by shift type and grade
  backend/src/main/java/net/dutymate/api/wardschedules/dto/WardScheduleResponseDto.java
  backend/src/main/java/net/dutymate/api/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P11A108-767] fix: Change ruleedit name
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P11A108-764] refactor: Update resource names for clarity
  infrastructure/Modules/ElastiCache/main.tf
  infrastructure/Modules/RDS/main.tf
Due: check_infrastructure

[S12P11A108-770] fix: Fix delete member error without next month schedule
  backend/src/main/java/net/dutymate/api/member/service/MemberService.java
Due: build_backend

[S12P11A108-770] fix: Delete jackson config
  backend/src/main/java/net/dutymate/api/config/JacksonConfig.java
Due: build_backend

[S12P11A108-773] chore: Set timezone to Asia/Seoul
  backend/build.gradle
Due: build_backend

[S12P11A108-769] chore: Bump version to v1.2.1
  backend/build.gradle
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend, build_backend
