Repository dutymate/dutymate-v1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.13-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: gradle:latest
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    - backend/.sonar/cache/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $ENV_FILE .env
  script:
  - gradle build --build-cache
  ...

[S12P11A108-669] fix: Fix issue where approval does not add user
  backend/src/main/java/net/dutymate/api/ward/service/WardService.java
Due: build_backend

[S12P11A108-670] feat: Handle auto-create error cases
  frontend/src/components/organisms/NurseCountModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/WardAdminInfo.tsx
  frontend/src/components/organisms/WardAdminTemp.tsx
  frontend/src/services/dutyService.ts
Due: check_frontend

[S12P11A108-645] feat: Add curation model to community
  backend/src/main/java/net/dutymate/api/comunity/controller/RecommendController.java
  backend/src/main/java/net/dutymate/api/comunity/dto/RecommendResponseDto.java
  backend/src/main/java/net/dutymate/api/comunity/service/BoardCurationService.java
Due: build_backend

[S12P11A108-659] feat: Add commnuity like cnt api
  frontend/src/components/organisms/WSidebar.tsx
Due: check_frontend

[S12P11A108-659] style: Update file to format code
  frontend/src/components/organisms/WSidebar.tsx
Due: check_frontend

[S12P11A108-659] feat: Add commnuity Msidebar active
  frontend/src/components/organisms/MSidebar.tsx
Due: check_frontend

[S12P11A108-659] feat: Add community like count api
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/services/boardService.ts
  frontend/src/services/wardService.ts
Due: check_frontend

[S12P11A108-659] fix: Update format code
  frontend/src/components/organisms/MSidebar.tsx
Due: check_frontend

[S12P11A108-659] feat: Add community like count api
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/services/boardService.ts
Due: check_frontend

[S12P11A108-659] fix: Format fix error
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/components/organisms/WSidebar.tsx
  frontend/src/services/boardService.ts
Due: check_frontend

[S12P11A108-659] fix: Format fix error
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/services/boardService.ts
Due: check_frontend

[S12P11A108-671] fix: Fix duplicate temporary nurse name issue
  backend/src/main/java/net/dutymate/api/wardschedules/dto/WardScheduleResponseDto.java
  backend/src/main/java/net/dutymate/api/wardschedules/util/DutyAutoCheck.java
Due: build_backend

[S12P11A108-665] fix: Fix teamshift reponsive page
  frontend/src/components/organisms/ReqShiftModal.tsx
  frontend/src/components/organisms/TeamShiftTable.tsx
  frontend/src/pages/TeamShift.tsx
Due: check_frontend

[S12P11A108-668] fix: Update format error code
  frontend/src/components/organisms/WardAdminModal.tsx
Due: check_frontend

[S12P11A108-668] fix: Update incorrect word
  frontend/src/components/organisms/WardAdminModal.tsx
Due: check_frontend

[S12P11A108-672] fix: Fix mypage responsive page
  frontend/src/components/organisms/ExtraInfoForm.tsx
  frontend/src/components/organisms/MypageProfile.tsx
  frontend/src/pages/Mypage.tsx
Due: check_frontend

[S12P11A108-675] chore: Use env for database credentials
  docker-compose.yaml
Due: none

[S12P11A108-673] feat: Add nurse name generation logic
  backend/src/main/java/net/dutymate/api/entity/Ward.java
  backend/src/main/java/net/dutymate/api/ward/service/WardService.java
Due: build_backend

[S12P11A108-676] fix: Active mypage change password feature
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/pages/Mypage.tsx
  frontend/src/services/userService.ts
Due: check_frontend

[S12P11A108-676] style: Update format fix code error
  frontend/src/pages/Mypage.tsx
  frontend/src/services/userService.ts
Due: check_frontend

[S12P11A108-678] fix: Fix build error
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/components/organisms/MSidebar.tsx
Due: check_frontend

[S12P11A108-679] fix: Fix first shiftadmin responsive page
  frontend/src/components/organisms/HistoryList.tsx
  frontend/src/components/organisms/RuleCheckList.tsx
  frontend/src/components/organisms/RuleEditModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/pages/ShiftAdmin.tsx
Due: check_frontend

[S12P11A108-534] fix: Fix request history bug
  frontend/src/components/organisms/ReqShiftModal.tsx
Due: check_frontend

[S12P11A108-681] chore: Update version to v1.1.0
  backend/build.gradle
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend, build_backend

[S12P11A108-673] fix: Fix temp nurse seq null error
  backend/src/main/java/net/dutymate/api/entity/Ward.java
Due: build_backend

[S12P11A108-682] feat: Modify duplicate auto-create limitation
  frontend/src/App.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P11A108-683] feat: Add scheduled task for nursing news AI
  backend/src/main/java/net/dutymate/api/ApiApplication.java
  backend/src/main/java/net/dutymate/api/comunity/collections/News.java
  backend/src/main/java/net/dutymate/api/comunity/repository/NewsRepository.java
  backend/src/main/java/net/dutymate/api/comunity/service/NewsService.java
  backend/src/main/java/net/dutymate/api/config/MongoDBconfig.java
  frontend/src/components/organisms/CommunityLayout.tsx
  frontend/src/components/organisms/CommunityNews.tsx
  frontend/src/services/boardService.ts
Due: check_frontend, build_backend

[S12P11A108-634] fix: Develop AI news summarization for nurses
  backend/src/main/java/net/dutymate/api/comunity/dto/GptApiResponseDto.java
  backend/src/main/java/net/dutymate/api/comunity/service/NewsService.java
Due: build_backend

[S12P11A108-677] feat: Add profileImg in ward member info
  backend/src/main/java/net/dutymate/api/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/ward/service/WardService.java
Due: build_backend

[[S12P11A108-677] feat: Add profile image code in ward admin table
  frontend/src/components/organisms/WardAdminModal.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/services/wardService.ts
Due: check_frontend

[S12P11A108-677] refactor: Add profile image in response dto
  backend/src/main/java/net/dutymate/api/ward/dto/WardInfoResponseDto.java
Due: build_backend

[S12P11A108-685] chore: Add AllowKoreaOnlyRule
  infrastructure/Modules/WAF/main.tf
Due: check_infrastructure

[S12P11A108-686] chore: Add AnonymousIpListRule
  infrastructure/Modules/WAF/main.tf
Due: check_infrastructure

[S12P11A108-687] feat: Integrate recommended posts API
  backend/src/main/java/net/dutymate/api/comunity/service/BoardCurationService.java
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/components/organisms/CommunityNews.tsx
  frontend/src/services/boardService.ts
Due: check_frontend, build_backend

[S12P11A108-688] fix: Disable scrolling when shifting schedule cells
  frontend/src/components/organisms/RuleEditModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P11A108-691] chore: Remove unused dependencies
  backend/build.gradle
Due: build_backend

[S12P11A108-678] fix: Fix build bug
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/services/boardService.ts
Due: check_frontend

[S12P11A108-694] feat: Make memo input responsive
  frontend/src/components/organisms/WardAdminRowCard.tsx
Due: check_frontend

[S12P11A108-692] feat: Make enter ward logout button responsive
  frontend/src/components/atoms/Button.tsx
  frontend/src/components/organisms/EnterWardForm.tsx
  frontend/src/pages/EnterWard.tsx
Due: check_frontend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
