Repository dutymate/dutymate-v1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

.gitlab-ci.yml:

stages:
  - check_infrastructure
  - check_frontend
  - build_backend

check_infrastructure:
  stage: check_infrastructure
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - infrastructure/**/*
  image:
    name: hashicorp/terraform:latest
    entrypoint: [ "" ]
  script:
    - terraform fmt -recursive -check
    - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - frontend/**/*
      when: always
  image: node:22.13-alpine
  cache:
    paths:
      - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
    - cd frontend
    - npm ci
  script:
    - npm run lint
    - npm run format

build_backend:
  stage: build_backend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - backend/**/*
      when: always
  image: gradle:latest
  cache:
    paths:
      - backend/.gradle/
      - backend/build/
      - backend/.sonar/cache/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
    - cd backend
    - cp $ENV_FILE .env
  script:
    - gradle build --build-cache
    - gradle sonar -Dsonar.projectKey=$SONAR_PROJECT_KEY -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.login=$SONAR_TOKEN -Dsonar.qualitygate.wait=true
  after_script:
    - cd backend
    - chmod +x scripts/ci/generate-codequality-report-from-checkstyle.sh
    - scripts/ci/generate-codequality-report-from-checkstyle.sh build/reports/checkstyle/main.xml > checkstyle-report.json
  artifacts:
    when: always
    reports:
      codequality:
        - backend/checkstyle-report.json

[S12P11A108-775] chore: Add SEO tags for Google Analytics
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/og-image.png
  frontend/src/components/SEO.tsx
  frontend/src/main.tsx
  frontend/src/pages/Community.tsx
  frontend/src/pages/CommunityDetailPage.tsx
  frontend/src/pages/CommunityWritePage.tsx
  frontend/src/pages/CreateWard.tsx
  frontend/src/pages/EnterWard.tsx
  frontend/src/pages/Error.tsx
  frontend/src/pages/ExtraInfo.tsx
  frontend/src/pages/Game.tsx
  frontend/src/pages/GoogleRedirect.tsx
  frontend/src/pages/KakaoRedirect.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/pages/Mypage.tsx
  frontend/src/pages/ReqAdmin.tsx
  frontend/src/pages/ShiftAdmin.tsx
  frontend/src/pages/Signup.tsx
  frontend/src/pages/TeamShift.tsx
  frontend/src/pages/WardAdmin.tsx
Due: check_frontend

[S12P11A108-778] chore: Decode query string
  backend/src/main/java/net/dutymate/api/config/LoggingAspect.java
Due: build_backend

[S12P11A108-780] fix: Fix-auto-mobile-error
  frontend/src/components/organisms/RuleEditModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P11A108-779] feat: Add validation logic to all DTOs
  backend/build.gradle
  backend/src/main/java/net/dutymate/api/comunity/controller/BoardController.java
  backend/src/main/java/net/dutymate/api/comunity/controller/CommentController.java
  backend/src/main/java/net/dutymate/api/comunity/dto/BoardCreateRequestDto.java
  backend/src/main/java/net/dutymate/api/comunity/dto/CommentRequestDto.java
  backend/src/main/java/net/dutymate/api/config/GlobalExceptionHandler.java
  backend/src/main/java/net/dutymate/api/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/member/dto/CheckNicknameRequestDto.java
  backend/src/main/java/net/dutymate/api/member/dto/LoginRequestDto.java
  backend/src/main/java/net/dutymate/api/member/dto/MypageEditRequestDto.java
  backend/src/main/java/net/dutymate/api/member/dto/SignUpRequestDto.java
  backend/src/main/java/net/dutymate/api/request/controller/RequestController.java
  backend/src/main/java/net/dutymate/api/request/dto/RequestCreateDto.java
  backend/src/main/java/net/dutymate/api/ward/controller/WardController.java
  backend/src/main/java/net/dutymate/api/ward/dto/AddNurseCntRequestDto.java
  backend/src/main/java/net/dutymate/api/ward/dto/VirtualEditRequestDto.java
  backend/src/main/java/net/dutymate/api/ward/dto/WardRequestDto.java
  backend/src/main/java/net/dutymate/api/wardmember/controller/WardMemberController.java
  backend/src/main/java/net/dutymate/api/wardmember/dto/NurseInfoRequestDto.java
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/components/organisms/CommunityWrite.tsx
  frontend/src/components/organisms/ReqShiftModal.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/utils/dateUtiles.ts
Due: check_frontend, build_backend

[S12P11A108-782] fix: Decode query string when query string is not null
  backend/src/main/java/net/dutymate/api/config/LoggingAspect.java
Due: build_backend

[S12P11A108-784] chore: Remove unnecessary client ip log
  backend/src/main/java/net/dutymate/api/config/LoggingAspect.java
Due: build_backend

[S12P11A108-776] fix: Fix max shifts pattern check
  backend/src/main/java/net/dutymate/api/wardschedules/util/DutyAutoCheck.java
Due: build_backend

[S12P11A108-774] fix: Fix server error when exit ward
  backend/src/main/java/net/dutymate/api/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P11A108-774] refactor: Change news description
  frontend/src/components/organisms/CommunityNews.tsx
Due: check_frontend

[S12P11A108-774] fix: Update format code error
  frontend/src/components/organisms/CommunityNews.tsx
Due: check_frontend

[S12P11A108-774] fix: Fix server error when delete member
  backend/src/main/java/net/dutymate/api/entity/community/HotBoard.java
  backend/src/main/java/net/dutymate/api/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P11A108-774] refactor: Add GPT comment
  frontend/src/components/organisms/CommunityNews.tsx
Due: check_frontend

[S12P11A108-774] refactor: Delete subtitle period
  frontend/src/pages/CommunityWritePage.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/pages/Mypage.tsx
  frontend/src/pages/ReqAdmin.tsx
  frontend/src/pages/TeamShift.tsx
  frontend/src/pages/WardAdmin.tsx
Due: check_frontend

[S12P11A108-786] feat: Add privacy policy url
  frontend/src/components/atoms/Profile.tsx
Due: check_frontend

[S12P11A108-779] fix: Fix sign up email validation error message
  frontend/src/components/organisms/SignupForm.tsx
Due: check_frontend

[S12P11A108-787] fix: Fix community error
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/pages/CommunityDetailPage.tsx
Due: check_frontend

[S12P11A108-788] fix: Fix title UI css
  frontend/src/components/atoms/DutyBadgeKor.tsx
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/pages/ReqAdmin.tsx
Due: check_frontend

[S12P11A108-790] fix: Align request shift modal position
  frontend/src/components/organisms/ReqShiftModal.tsx
  frontend/src/components/organisms/RuleEditModal.tsx
Due: check_frontend

[S12P11A108-791] fix: Fix community news css
  frontend/src/components/organisms/CommunityNews.tsx
Due: check_frontend

[S12P11A108-792] feat: Improve auto-generate UX
  frontend/src/components/organisms/AutoGenerateConfirmModal.tsx
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/TeamShiftTable.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/components/organisms/WardAdminInfo.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/services/ruleService.ts
Due: check_frontend

[S12P11A108-794] chore: Bump version to v1.3.0
  backend/build.gradle
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend, build_backend

[S12P11A108-795] fix: Change css in myshift page
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/pages/MyShift.tsx
Due: check_frontend

[S12P11A108-796] fix: Fix request date index error
  backend/src/main/java/net/dutymate/api/autoschedule/service/AutoScheduleService.java
Due: build_backend

[S12P11A108-797] fix: Remove front time-zone
  frontend/src/utils/dateUtiles.ts
Due: check_frontend

[S12P11A108-779] fix: Fix email validation length limit
  backend/src/main/java/net/dutymate/api/member/dto/SignUpRequestDto.java
Due: build_backend

[S12P11A108-798] fix: Adjust duty request button position
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/pages/EnterWard.tsx
  frontend/src/pages/MyShift.tsx
Due: check_frontend

[S12P11A108-799] fix: Delete profile image in admin page
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/components/organisms/WardAdminTable.tsx
Due: check_frontend

[S12P11A108-799] fix: Update format error
  frontend/src/components/organisms/WardAdminRowCard.tsx
Due: check_frontend

[S12P11A108-800] fix: Fix build error
  frontend/src/components/organisms/ReqAdminTable.tsx
Due: check_frontend

[S12P11A108-803] fix: Change notebook image
  frontend/public/images/samsung.svg
  frontend/src/components/templates/LandingTemplate.tsx
Due: check_frontend

[S12P11A108-804] fix: Fix request filter bug
  backend/src/main/java/net/dutymate/api/autoschedule/service/AutoScheduleService.java
Due: build_backend

[S12P11A108-808] fix: Fix responsive community page
  frontend/src/components/organisms/CommunityLayout.tsx
Due: check_frontend

[S12P11A108-809] feat: Add tutorial link in landing page
  frontend/src/pages/Landing.tsx
Due: check_frontend

[S12P11A108-810] fix: Fix responsive myshift page
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/pages/MyShift.tsx
Due: check_frontend

[S12P11A108-811] feat: Add news feature in mobile
  frontend/src/components/organisms/CommunityLayout.tsx
  frontend/src/components/organisms/CommunityNews.tsx
Due: check_frontend

[S12P11A108-812] fix: Fix vertical responsive myshift page
  frontend/src/components/organisms/TodayShiftModal.tsx
Due: check_frontend

[S12P11A108-811] fix: Fix news modal X button to icon
  frontend/src/components/organisms/CommunityNews.tsx
Due: check_frontend

[S12P11A108-813] misc: Remove unused imports
  frontend/src/pages/Landing.tsx
Due: check_frontend
